/* line 1, ../../../../../../Desktop/sass_page/assets/scss/initial.scss */
html, body {
  height: 100%;
}

/* line 5, ../../../../../../Desktop/sass_page/assets/scss/initial.scss */
body {
  background: #fff3c4;
  color: #666666;
}

/* line 10, ../../../../../../Desktop/sass_page/assets/scss/initial.scss */
html, body, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* line 15, ../../../../../../Desktop/sass_page/assets/scss/initial.scss */
li {
  list-style: none;
}

/* line 19, ../../../../../../Desktop/sass_page/assets/scss/initial.scss */
a {
  text-decoration: none;
  color: #b8944d;
  transition: .5s;
}

/* line 23, ../../../../../../Desktop/sass_page/assets/scss/initial.scss */
a:hover {
  color: #e3a936;
}

/* line 2, ../../../../../../Desktop/sass_page/assets/scss/common.scss */
.gbtn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  background: #b8944d;
  color: white;
  border: 1px solid #b8944d;
}

/* line 11, ../../../../../../Desktop/sass_page/assets/scss/common.scss */
.gbtn.right {
  float: right;
}

/* line 14, ../../../../../../Desktop/sass_page/assets/scss/common.scss */
.gbtn:hover {
  color: #b8944d;
  background: white;
}

/* line 2, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
.box {
  display: flex;
}

/* line 5, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
.box.items-2 .items {
  flex: 50%;
}

/* line 9, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
.box .items {
  box-sizing: border-box;
  padding: 50px;
  font-size: 18px;
  flex: 100%;
  flex-shrink: 0;
}

/* line 15, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
.box .items .title {
  font-size: 26px;
}

/* line 18, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
.box .items img {
  width: 100%;
}

/* line 26, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
#gallery-box-wrap #gallery-box {
  position: relative;
  width: 600px;
  margin: 20px auto;
}

/* line 30, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
#gallery-box-wrap #gallery-box #navi {
  position: relative;
  width: 600px;
  overflow: hidden;
}

/* line 35, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
#gallery-box-wrap #gallery-box #navi ul li {
  width: 120px;
  float: left;
}

/* line 38, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
#gallery-box-wrap #gallery-box #navi ul li img {
  width: 100%;
  border: 3px solid white;
}

/* line 44, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
#gallery-box-wrap #gallery-box #navi .page-wrap {
  width: 1800px;
}

/* line 46, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
#gallery-box-wrap #gallery-box #navi .page-wrap .page {
  float: left;
  overflow: hidden;
}

/* line 52, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
#gallery-box-wrap #gallery-box .navi-wrap {
  position: relative;
}

/* line 54, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
#gallery-box-wrap #gallery-box .navi-wrap > img {
  position: absolute;
  top: 50%;
  z-index: 500;
  cursor: pointer;
}

/* line 59, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
#gallery-box-wrap #gallery-box .navi-wrap > img.next {
  right: 0;
  transform: translate(100%, -50%);
}

/* line 63, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
#gallery-box-wrap #gallery-box .navi-wrap > img.prev {
  left: 0;
  transform: translate(-100%, -50%);
}

/* line 69, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
#gallery-box-wrap #gallery-box #main {
  width: 600px;
  height: 450px;
  float: right;
}

/* line 73, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
#gallery-box-wrap #gallery-box #main img {
  position: absolute;
  width: 100%;
}

/* line 83, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
.accordion dl {
  margin: 50px auto;
}

/* line 85, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
.accordion dl dt {
  text-indent: 1em;
  font-size: 18px;
  color: white;
  line-height: 35px;
  height: 35px;
  background: #b8944d;
}

/* line 93, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
.accordion dl dd {
  margin: 0;
  height: 300px;
  background: #f0c87a;
}

/* line 97, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
.accordion dl dd p {
  margin: 0;
  padding: 20px;
}

/* line 108, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
table + .gbtn {
  margin-top: 20px;
}

/* line 111, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
table.common-table {
  width: 100%;
  margin: 50px auto 0;
  border-collapse: collapse;
}

/* line 115, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
table.common-table th, table.common-table td {
  padding: 15px;
  font-size: 16px;
  text-align: left;
  vertical-align: middle;
  height: 30px;
}

/* line 123, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
table.common-table th {
  font-weight: 500;
  color: white;
  background: #b8944d;
}

/* line 129, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
table.common-table td {
  font-weight: 300;
  color: #666666;
  border-bottom: 1px solid #b8944d;
}

/* line 133, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
table.common-table td.hover {
  background: #f0c87a;
}

/* line 139, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
table.common-table tr:not(:first-child):hover {
  background: #f0c87a;
}

/* line 145, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
table #map {
  margin-top: 50px;
}

/* line 147, ../../../../../../Desktop/sass_page/assets/scss/component.scss */
table #map .marker-title {
  color: red;
}

/* line 6, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap {
  width: 100%;
  margin: 0 auto;
  /* footer */
}

/* line 9, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #header {
  position: relative;
  height: 60px;
  z-index: 500;
}

/* line 13, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #header #top-logo {
  float: left;
}

/* line 15, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #header #top-logo a {
  height: 60px;
  line-height: 60px;
}

/* line 21, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #header #top-nav {
  position: relative;
  height: 60px;
  float: right;
}

/* line 25, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #header #top-nav ul {
  float: left;
}

/* line 27, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #header #top-nav ul li {
  position: relative;
  float: left;
  margin-left: 30px;
}

/* line 31, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #header #top-nav ul li:first-child {
  margin-left: 0;
}

/* line 35, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #header #top-nav ul li:hover .sub-menu {
  opacity: 1;
}

/* line 38, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #header #top-nav ul li:hover .sub-menu li {
  height: 40px;
  opacity: 1;
}

/* line 44, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #header #top-nav ul li a {
  width: 100%;
  height: 60px;
  line-height: 60px;
}

/* line 50, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #header #top-nav ul li .sub-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #b8944d;
  opacity: 0;
  transition: .5s;
}

/* line 57, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #header #top-nav ul li .sub-menu li {
  margin: 0;
  min-width: 150px;
  width: 100%;
  height: 0;
  padding: 0 10px;
  box-sizing: border-box;
  background: white;
  opacity: 0;
  transition-duration: .5s;
}

/* line 68, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #header #top-nav ul li .sub-menu li a {
  line-height: 40px;
}

/* line 78, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap main {
  min-height: calc( 100vh - (60px + 600px) - 51px);
}

/* line 82, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #footer {
  margin-top: 50px;
  color: #b8944d;
}

/* line 85, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #footer .footer-top {
  padding: 60px 0 30px;
}

/* line 88, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #footer > .container {
  padding: 30px 0;
  text-align: center;
}

/* line 92, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #footer .container {
  margin: 0 auto;
}

/* line 94, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #footer .container .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 98, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #footer .container .row .column {
  flex: 25%;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 30px;
}

/* line 103, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #footer .container .row .column.footer-logo {
  flex: 180px;
}

/* line 105, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #footer .container .row .column.footer-logo h3 {
  font-size: 34px;
  padding: 2px 0 2px 0;
  font-weight: 700;
  letter-spacing: 3px;
}

/* line 114, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #footer .container .row .column.news input[type=search] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

/* line 119, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #footer .container .row .column.news input[type=submit] {
  border: 0;
  padding: 6px 0;
  width: 35%;
  text-align: center;
  color: #ffffff;
  background: #b8944d;
  cursor: pointer;
}

/* line 130, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #footer .container .row .column h4 {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

/* line 137, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #footer .container .row .column h4:before, #wrap #footer .container .row .column h4:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

/* line 144, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #footer .container .row .column h4:before {
  right: 0;
  background: #997939;
}

/* line 148, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #footer .container .row .column h4:after {
  width: 60px;
  background: #b8944d;
}

/* line 154, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #footer .container .row .column ul li {
  border-bottom: 1px solid #b8944d;
  padding: 10px 0;
}

/* line 157, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #footer .container .row .column ul li:nth-child(1) {
  padding-top: 0;
}

/* line 162, ../../../../../../Desktop/sass_page/assets/scss/layout.scss */
#wrap #footer .container .row .column p {
  line-height: 26px;
}

/* line 2, ../../../../../../Desktop/sass_page/assets/scss/main.scss */
.mainbanner {
  height: 550px;
  background: url("../img/main_banner.jpg") no-repeat;
  background-size: cover;
}

/* line 9, ../../../../../../Desktop/sass_page/assets/scss/main.scss */
.inner:nth-child(1) {
  margin-top: 50px;
}

/* line 14, ../../../../../../Desktop/sass_page/assets/scss/main.scss */
.inner .box.items-2 p + a {
  margin-top: 50px;
}

/* line 4, ../../../../../../Desktop/sass_page/assets/scss/subpage.scss */
body.subpage main .container {
  display: flex;
}

/* line 7, ../../../../../../Desktop/sass_page/assets/scss/subpage.scss */
body.subpage main .container #lnb {
  flex: 230px;
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: border-box;
  padding-right: 50px;
}

/* line 14, ../../../../../../Desktop/sass_page/assets/scss/subpage.scss */
body.subpage main .container #lnb ul li {
  border-bottom: 1px solid #b8944d;
}

/* line 17, ../../../../../../Desktop/sass_page/assets/scss/subpage.scss */
body.subpage main .container #lnb ul li.on a {
  color: white;
  background: #b8944d;
  padding-left: 20px;
}

/* line 24, ../../../../../../Desktop/sass_page/assets/scss/subpage.scss */
body.subpage main .container #lnb ul li:hover a {
  padding-left: 20px;
}

/* line 28, ../../../../../../Desktop/sass_page/assets/scss/subpage.scss */
body.subpage main .container #lnb ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  font-size: 18px;
  box-sizing: border-box;
}

/* line 39, ../../../../../../Desktop/sass_page/assets/scss/subpage.scss */
body.subpage main .container .content {
  flex: 100%;
}

/* line 44, ../../../../../../Desktop/sass_page/assets/scss/subpage.scss */
body.subpage main .container .sub-title span {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
  line-height: 43px;
}

/* line 51, ../../../../../../Desktop/sass_page/assets/scss/subpage.scss */
body.subpage main .container .sub-title span:after {
  content: '';
  position: absolute;
  height: 3px;
  background: #b8944d;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 64, ../../../../../../Desktop/sass_page/assets/scss/subpage.scss */
body.subpage main .container .inner + .inner {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #b8944d;
}

/* line 69, ../../../../../../Desktop/sass_page/assets/scss/subpage.scss */
body.subpage main .container .inner .box {
  flex-wrap: wrap;
}

/* line 79, ../../../../../../Desktop/sass_page/assets/scss/subpage.scss */
body.subpage .content.gallery .inner #gallery-box-wrap {
  margin-top: 80px;
}

/* line 87, ../../../../../../Desktop/sass_page/assets/scss/subpage.scss */
body.subpage .content.faq {
  min-height: 650px;
}

/*# sourceMappingURL=style.css.map */